// Colors
$black-color: #000;
$white-color: #fff;
$very-light-gray-color: #f6f6f6;
$light-gray-color: #e6e6e6;
$dust-color: #cecece;
$dark-dust-color: #ababab;
$danger-color: #f85c6a;
$danger-light-color: #ff7a86;
$green-color: #b3dd83;
$orange-color: #FF9A4E;
$gray-color: #8A8C8D;
$dark-gray-color: #616365;
$coal-color: #111C24;

$footer-height: 60px;

$menu-size: 90px;
$scroll-size: 10px;